Repository AdaCore/gnatcoverage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_docs, test_qualkit, test_qualrun_25

build_docs:
  stage: build
  services:
  - image:pe-base
  needs: []
  script:
  - - generic_anod_ci --add-dep eng/das/cov/gnatcoverage-extra
    - cat /tmp/ci_env.sh
    - . /tmp/ci_env.sh
  - anod build gnatdas-doc -Qwarn-errors --latest
  - DOC_BSN=$(anod eval gnatdas-doc -Qwarn-errors build_space_name)
  ...

test_qualkit:
  interruptible: true
  services:
  - image:pe-base
  - cpu:16
  - mem:16
  stage: test
  script:
  - - - generic_anod_ci --add-dep eng/das/cov/gnatcoverage-extra
      - cat /tmp/ci_env.sh
      - . /tmp/ci_env.sh
    - tar zxf $PACKAGE_ABSOLUTE_NAME -C /
  ...

test_qualrun_25:
  interruptible: true
  services:
  - image:pe-base
  - cpu:16
  - mem:16
  stage: test
  script:
  - - - generic_anod_ci --add-dep eng/das/cov/gnatcoverage-extra
      - cat /tmp/ci_env.sh
      - . /tmp/ci_env.sh
    - tar zxf $PACKAGE_ABSOLUTE_NAME -C /
  ...

Do not use the volatile aspect for witness results
  testsuite/tests/U204-026-arch-mix/gen/arm-elf-linux/gcvrt-pz3791e32c.ads
  testsuite/tests/U204-026-arch-mix/gen/arm-elf-linux/gcvrt-pz794ac68b.ads
  testsuite/tests/U204-026-arch-mix/gen/arm-elf-linux/gcvrt-pz794ac68c.ads
  testsuite/tests/U204-026-arch-mix/gen/arm-elf-linux/main_1.adb
  testsuite/tests/U204-026-arch-mix/gen/arm-elf-linux/main_2.adb
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-pz3791e32c.ads
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-pz794ac68b.ads
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-pz794ac68c.ads
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/main_1.adb
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/main_2.adb
  tools/gnatcov/ada-rts/gnatcov_rts-buffers-lists.ads
  tools/gnatcov/ada-rts/gnatcov_rts-buffers.adb
  tools/gnatcov/ada-rts/gnatcov_rts-buffers.ads
  tools/gnatcov/instrument-ada_unit.adb
  tools/gnatcov/instrument-ada_unit.ads
  tools/gnatcov/instrument-common.ads
  tools/gnatcov/rts/gnatcov_rts-buffers-lists.ads
  tools/gnatcov/rts/gnatcov_rts-buffers.adb
  tools/gnatcov/rts/gnatcov_rts-buffers.ads
  tools/gnatcov/rts/gnatcov_rts.ads
  tools/gnatcov/rts/gnatcov_rts_c.h
Due: none

Migrate ghost code tests from the gnatcoverage-extra repository
  testsuite/tests/instr-cov/ghost/call/src/ops.adb
  testsuite/tests/instr-cov/ghost/call/src/ops.ads
  testsuite/tests/instr-cov/ghost/call/src/test_call.adb
  testsuite/tests/instr-cov/ghost/call/src/test_nocall.adb
  testsuite/tests/instr-cov/ghost/call/test.py
  testsuite/tests/instr-cov/ghost/expr/src/ops.adb
  testsuite/tests/instr-cov/ghost/expr/src/ops.ads
  testsuite/tests/instr-cov/ghost/expr/src/test_call.adb
  testsuite/tests/instr-cov/ghost/expr/src/test_nocall.adb
  testsuite/tests/instr-cov/ghost/expr/test.py
  testsuite/tests/instr-cov/ghost/function/src/ops.adb
  testsuite/tests/instr-cov/ghost/function/src/ops.ads
  testsuite/tests/instr-cov/ghost/function/src/test_call.adb
  testsuite/tests/instr-cov/ghost/function/src/test_nocall.adb
  testsuite/tests/instr-cov/ghost/function/test.py
  testsuite/tests/instr-cov/ghost/package/src/ghost_ops.adb
  testsuite/tests/instr-cov/ghost/package/src/ghost_ops.ads
  testsuite/tests/instr-cov/ghost/package/src/ops.adb
  testsuite/tests/instr-cov/ghost/package/src/ops.ads
  testsuite/tests/instr-cov/ghost/package/src/test_call.adb
  testsuite/tests/instr-cov/ghost/package/src/test_nocall.adb
  testsuite/tests/instr-cov/ghost/package/test.py
  testsuite/tests/instr-cov/ghost/predicate/test.opt
  testsuite/tests/instr-cov/ghost/req.rst
  testsuite/tests/instr-cov/ghost/src/common.adb
  testsuite/tests/instr-cov/ghost/src/common.ads
Due: none

Add a switch enabling the instrumentation of ghost code
  testsuite/SCOV/instr.py
  testsuite/SCOV/internals/driver.py
  testsuite/SUITE/control.py
  testsuite/SUITE/tutils.py
  testsuite/tests/instr-cov/ghost/expr_func/src/pkg.adb
  testsuite/tests/instr-cov/ghost/expr_func/src/pkg.ads
  testsuite/tests/instr-cov/ghost/expr_func/src/test_main.adb
  testsuite/tests/instr-cov/ghost/expr_func/test.py
  testsuite/tests/instr-cov/ghost/extra.opt
  testsuite/tests/instr-cov/ghost/generic/gen.adb
  testsuite/tests/instr-cov/ghost/generic/gen.ads
  testsuite/tests/instr-cov/ghost/generic/main.adb
  testsuite/tests/instr-cov/ghost/generic/non_ghost_inst.ads
  testsuite/tests/instr-cov/ghost/generic/test.py
  testsuite/tests/instr-cov/ghost/predicate/main.adb
  testsuite/tests/instr-cov/ghost/predicate/pkg.ads
  testsuite/tests/instr-cov/ghost/predicate/test.opt
  testsuite/tests/instr-cov/ghost/predicate/test.py
  testsuite/testsuite.py
  tools/gnatcov/command_line.ads
  tools/gnatcov/gnatcov_bits_specific.adb
  tools/gnatcov/instrument-ada_unit.adb
  tools/gnatcov/switches.ads
Due: test_qualkit, test_qualrun_25

Add als configuration file
  .als.json
Due: none

Document dependency to ldd on Windows
  doc/gnatcov/integrated_instr.rst
Due: build_docs

SCOV.internals.driver: do not consider .h files as units of interest
  testsuite/SCOV/internals/driver.py
Due: test_qualkit, test_qualrun_25

Testsuite: add missing ATC related temp dirs to .gitignore
  testsuite/.gitignore
Due: none

Fix tests failing in GPR mode with binary traces
  testsuite/Qualif/Ada/stmt/1_Core/12_GenericUnits/Default_UnitInstances/test.py
  testsuite/Qualif/Common/UnitsOfInterest/GPR/ByAttr/All/test.py
  testsuite/Qualif/Common/UnitsOfInterest/GPR/Robustness/NoUnit/test.py
  testsuite/SCOV/internals/driver.py
  testsuite/SCOV/tctl.py
  testsuite/tests/MB05-039-not-coverable/stmt/Generics/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/MixInUnits/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/StmtsInBody/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/StmtsInElab/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/StmtsInHandler/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/StmtsInSubprog/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/SubprogsInUnit/test.py
  testsuite/tests/ext_annotations/gen/ada_ex/WholeBody/test.py
Due: test_qualkit, test_qualrun_25

Testsuite: minor --help message update
  testsuite/SUITE/control.py
Due: none

CI: enable the testsuite GPR mode in the block instr. job
  .gitlab-ci.yml
Due: none

Update documentation for SPARK support
  doc/gnatcov/src_traces.rst
Due: build_docs

CI: move GPR mode activation to a job that is always run
  .gitlab-ci.yml
Due: none

Remove useless `null` statements
  tools/gnatcov/coverage-source.adb
  tools/gnatcov/sc_obligations.adb
  tools/gnatcov/traces_files.adb
Due: none

instrument-ada_unit.adb: minor warning message reformatting
  testsuite/tests/instr-cov/guarded-exprs/stmt/undetermined-coverage/test.py
  tools/gnatcov/instrument-ada_unit.adb
Due: none

Fix function call instrumentation for pre-2012 Ada codebases
  doc/gnatcov/src_traces.rst
  testsuite/tests/instr-cov/514-funcall-pre2012/src/pkg.adb
  testsuite/tests/instr-cov/514-funcall-pre2012/src/pkg.ads
  testsuite/tests/instr-cov/514-funcall-pre2012/src/test_pkg.adb
  testsuite/tests/instr-cov/514-funcall-pre2012/test.opt
  testsuite/tests/instr-cov/514-funcall-pre2012/test.py
  tools/gnatcov/instrument-ada_unit.adb
Due: build_docs

instrument-ada_unit.adb: remove unused code
  tools/gnatcov/instrument-ada_unit.adb
Due: none

instrument-ada_unit.adb: style fixes
  tools/gnatcov/instrument-ada_unit.adb
Due: none

Documentation: minor fixes in the GExpr support section
  doc/gnatcov/cov_source.rst
  doc/gnatcov/src_traces.rst
Due: build_docs

Instrument: make Ada dump helpers compatible with Ada 95
  tools/gnatcov/templates/dump_helper.adb.tmplt
  tools/gnatcov/templates/dump_helper.ads.tmplt
Due: none

Adapt the non-Qualif tests for runs with `--cargs:Ada=-gnat95`
  testsuite/tests/Ada/decision/T922-011-cmp-empty-str/src/pkg.ads
  testsuite/tests/Ada/mcdc/K620-028_fold-inline/src/test_fast.adb
  testsuite/tests/Ada/stmt/K620-028_fold-inline/src/test_fast.adb
  testsuite/tests/Ada2012/mcdc/Xfunctions/Freezing/src/test_no.adb
  testsuite/tests/Ada2012/stmt/NullProc/AccConstClassWideParam/src/pak.adb
  testsuite/tests/M716-023-constant-conditions/src/ops.ads
  testsuite/tests/M724-035-eh-warnings/src/test_exc.adb
  testsuite/tests/Ravenscar/OOP/stmt/Multiple_Inheritance/test.py
  testsuite/tests/T117-007-intf-thunks/src/action.ads
  testsuite/tests/T117-007-intf-thunks/src/interface_a.ads
  testsuite/tests/T117-007-intf-thunks/src/package_a.adb
  testsuite/tests/T117-007-intf-thunks/src/package_a.ads
  testsuite/tests/T117-007-intf-thunks/src/ut_main.adb
  testsuite/tests/T319-018-if-expr/src/pkg.adb
  testsuite/tests/T319-018-if-expr/src/test_no.adb
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-db_z794ac68b.adb
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-db_z794ac68b.ads
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-db_z794ac68c.adb
  testsuite/tests/U204-026-arch-mix/gen/x86_64-windows/gcvrt-db_z794ac68c.ads
  testsuite/tests/instr-cov/323-overriding-null-proc/main.adb
  testsuite/tests/instr-cov/323-overriding-null-proc/pkg.adb
  testsuite/tests/instr-cov/323-overriding-null-proc/pkg.ads
  testsuite/tests/instr-cov/323-overriding-null-proc/test.py
  testsuite/tests/instr-cov/326-prelude-prag/src/selective.ads
  testsuite/tests/instr-cov/expr_func/174-completion-visibility/main.adb
  testsuite/tests/instr-cov/expr_func/174-completion-visibility/test.py
  testsuite/tests/instr-cov/null_proc_generic/src/pkg.ads
  testsuite/tests/instr-cov/null_proc_generic/test.py
Due: none

Qualif tests: adapt for runs with `--cargs:Ada=-gnat95`
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/And/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/AndCOr/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/AndIdOr/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/AndNot/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/AndpOrp/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/NotAnd/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/NotAndNot/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/NotOr/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/NotOrNot/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/Or/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/OrNot/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/pAndpOr/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/pOrpAndpOrp/Xreturn/test.opt
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/exprs-e_and.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/test_and_and_v1.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/test_and_and_v14.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/test_and_and_v34.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/test_and_v1.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/And/src/test_and_v3.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/exprs-e_andor.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_v2.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_v3.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_v6.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_v7.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_v8.adb
  testsuite/Qualif/Ada/mcdc/Robustness/Recurse/Andor_RA/src/test_andor_andor_vb.adb
  testsuite/Qualif/Ada/stmt/1_Core/052_CompoundStmts/552_Iteration/OfArray/EmptyArray/src/values.ads
  testsuite/Qualif/Ada/stmt/1_Core/06_Subprograms/Derived/Indicators/test.opt
  testsuite/Qualif/Ada/stmt/1_Core/06_Subprograms/Derived/Interfaces/test.opt
  testsuite/Qualif/Ada/stmt/1_Core/06_Subprograms/ParameterModes/InOut_Procedure/src/ops.adb
  testsuite/Qualif/Ada/stmt/1_Core/13_Representation/OpAttributes/Read_Write/src/mystreams.adb
  testsuite/Qualif/Ada/stmt/1_Core/13_Representation/OpAttributes/Read_Write/src/mystreams.ads
Due: test_qualkit, test_qualrun_25

instrument-ada_unit.adb: minor style fixes
  tools/gnatcov/instrument-ada_unit.adb
Due: none

Instrument: harmonize the sloc of SCO stmt in expression functions
  testsuite/Qualif/Ada/mcdc/1_Core/NoEval/RaiseExpr/in_expr_func/src/pkg.adb
  tools/gnatcov/instrument-ada_unit.adb
Due: test_qualkit, test_qualrun_25

Adapt the testcases for runs with `--cargs:Ada=-gnat2022`
  testsuite/tests/gnatX/first_controlling_parameter/src/test_0.adb
  testsuite/tests/gnatX/first_controlling_parameter/src/test_child_p.adb
  testsuite/tests/gnatX/first_controlling_parameter/src/test_root_p.adb
  testsuite/tests/limits/Ada/mcdc/Andthen/JC16_008-ComponentDefault/default/test.py
  testsuite/tests/limits/Ada/mcdc/Andthen/generic_formal_default_expr/default/pkg/test.py
  testsuite/tests/limits/Ada/mcdc/Andthen/generic_formal_default_expr/default/subp/test.py
Due: none

Instrument the same set of Ada sources that GPRbuild will compile
  testsuite/tests/496-ada-closures/test.py
  testsuite/tests/instr-cov/orphan-unit/test.py
  testsuite/tests/limits/Ada/mcdc/Andthen/JC16_008-ComponentDefault/2022/test.py
  testsuite/tests/limits/Ada/mcdc/Andthen/generic_formal_default_expr/2022/pkg/test.py
  testsuite/tests/limits/Ada/mcdc/Andthen/generic_formal_default_expr/2022/subp/test.py
  tools/gnatcov/coverage-source.adb
  tools/gnatcov/instrument-projects.adb
  tools/gnatcov/project.adb
  tools/gnatcov/project.ads
Due: none

320-varying-scos/varying_meta: robustify
  testsuite/tests/320-varying-scos/varying_meta/test.py
Due: none

Testsuite: fix projects so that all units are compiled
  testsuite/tests/213-sarif-report/ada/full/ref.sarif
  testsuite/tests/213-sarif-report/ada/full/src-root/src-foo/b.ads
  testsuite/tests/213-sarif-report/ada/full/test.py
  testsuite/tests/213-sarif-report/all-lang/full/ref.sarif
  testsuite/tests/213-sarif-report/all-lang/full/src-root/src-foo/b.ads
  testsuite/tests/213-sarif-report/all-lang/full/test.py
  testsuite/tests/Ada2022/lhs-shortcut/src/test_0.adb
  testsuite/tests/O212-062-assertions/type_invariant/src/test_null.adb
  testsuite/tests/QC29-006-index/src-root/src-foo/b.ads
  testsuite/tests/QC29-006-index/test.py
  testsuite/tests/instr-cov/231-malformed-exempt-markers/test.py
Due: none

SUITE.tutils: fix gprfor for projects with Ada+C mains
  testsuite/SUITE/tutils.py
Due: none

CI: remove the temporary qualrun testing for gnatcov 25
  .gitlab-ci.yml
Due: none

instr-cov/514-funcall-pre2012: kill with old toolchains
  testsuite/tests/instr-cov/514-funcall-pre2012/test.opt
Due: none

Merge branch 'topic/add_pdf_id' into 'qualkit-4502'
  qualification/genbundle.py
  qualification/qualkit/scripts/qm_plugins/importers.py
Due: test_qualkit, test_qualrun_25

Merge branch 'topic/4205-various-fixes' into 'qualkit-4502'
  qualification/qualkit/_common/project_settings.yaml
  qualification/qualkit/plans/plans.rst
  testsuite/Qualif/Ada/content.rst
  testsuite/Qualif/Ada/decision/req_set.rst
  testsuite/Qualif/Ada/mcdc/req_set.rst
  testsuite/Qualif/Ada/stmt/req_set.rst
  testsuite/Qualif/C/set.txt
  testsuite/Qualif/C/stmt/set.txt
  testsuite/Qualif/Environment/content.rst
Due: test_qualkit, test_qualrun_25

Merge branch 'topic/9-qualified-interface' into 'qualkit-4502'
  .gitignore
  qualification/qualkit/_common/project_settings.yaml
  qualification/qualkit/plans/Introduction/Referenced_Documents/content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Qualified_Interface/content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Qualified_Interface/src_content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Tool_Overview/content.rst
  testsuite/Qualif/Environment/content.rst
  testsuite/STR/genrest.py
Due: test_qualkit, test_qualrun_25

genbundle.py: Fix formatting
  qualification/genbundle.py
Due: test_qualkit, test_qualrun_25

Merge branch 'topic/4502-qa-edits-1' into 'qualkit-4502'
  qualification/qualkit/_common/project_settings.yaml
  qualification/qualkit/plans/Introduction/Referenced_Documents/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/Developer/Compliance/content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Qualification_Data_Overview/content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Qualified_Interface/content.rst
  qualification/qualkit/plans/Tool_Qualification_Plan/Qualified_Interface/src_content.rst
  testsuite/Qualif/Ada/decision/Consolidation/Or/src/cons_012.txt
  testsuite/Qualif/Environment/content.rst
  testsuite/Qualif/Introduction/content.rst
  testsuite/Qualif/content.rst
  testsuite/STR/genrest.py
Due: test_qualkit, test_qualrun_25

Merge branch 'topic/fix_pdf_id' into 'qualkit-4502'
  qualification/genbundle.py
Due: test_qualkit, test_qualrun_25

Merge branch 'topic/4502_adjust_plans' into 'qualkit-4502'
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/Developer/Methods_And_Activities/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/Developer/Traceability/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/Developer/Version_Control/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/Developer/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/User/Suggested_Items/content.rst
  qualification/qualkit/plans/Tool_Configuration_Management_Plan/User/content.rst
  qualification/qualkit/plans/Tool_Quality_Assurance_Plan/Conformity_Review/content.rst
Due: test_qualkit, test_qualrun_25

Ada 2022: add support for contracts in generic formal subprograms
  testsuite/tests/Ada2022/subp_pre_post/generic_formal/src/pkg.adb
  testsuite/tests/Ada2022/subp_pre_post/generic_formal/src/pkg.ads
  testsuite/tests/Ada2022/subp_pre_post/generic_formal/test.py
  testsuite/tests/Ada2022/subp_pre_post/src/test_pkg_0.adb
  testsuite/tests/Ada2022/subp_pre_post/src/test_pkg_full.adb
  tools/gnatcov/instrument-ada_unit.adb
Due: none

Testsuite: do not enable GPR mode automatically with source traces
  testsuite/Qualif/Ada/funcall/1_Core/06_Subprograms/Calls/AsDefault/src/test_call.adb
  testsuite/SCOV/internals/driver.py
  testsuite/tests/P614-002-incidental-coverage/src/cons_maps_math.txt
  testsuite/tests/P614-002-incidental-coverage/test.py
  testsuite/tests/instr-cov/223-selective-instr/C/test.py
  testsuite/testsuite.py
Due: test_qualkit, test_qualrun_25

XFAIL misbehaving tests pending GCC adaptations
  testsuite/Qualif/Ada/mcdc/1_Core/Topologies/AndIdOr/Exit/test.opt
  testsuite/Qualif/Ada/stmt/1_Core/06_Subprograms/DeclsAndCalls/CallSites/extra.opt
  testsuite/Qualif/Ada/stmt/1_Core/11_Exceptions/LocalHandlers/CutEvals/And/If/RangeCheck/test.opt
  testsuite/Qualif/Ada/stmt/1_Core/11_Exceptions/LocalHandlers/CutEvals/And/If/RemoteCheck/test.opt
Due: test_qualkit, test_qualrun_25

Path conditions:
  build_docs: any of: doc/**/*
  test_qualkit: any of: qualification/**/*, testsuite/Qualif/**/*, testsuite/STR/**/*, testsuite/SCOV/**/*
  test_qualrun_25: any of: qualification/**/*, testsuite/Qualif/**/*, testsuite/STR/**/*, testsuite/SCOV/**/*
